#cv-main {
    width: 216mm;
    height: 279.3mm;
    padding: 10mm;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: rgb(243, 208, 142);
    font-family: "Arial, sans-serif";
}

#cv-main * {
    overflow: hidden;
}

#cv-main div {
    resize: both;
    overflow: auto !important;
}

.vertical input[type="range"] {
    writing-mode: vertical-lr;
}

.section-row {
    display: flex;
    gap: 5px;
    max-width: 100%;
    min-width: 100px;
    min-height: max-content;
    text-align: center;
    overflow: hidden;
}

.section-col {
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: auto;

    min-width: 50px;
    min-height: 100px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.section-col > * {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.grid-visible {
    border: 1px solid black;
}

.active-cell {
    border: 5px solid blue;
}

.draggable-element {
    font-family: Arial, sans-serif;
}

@media print {
    #cv-main {
        background-color: rgb(249, 250, 251);
        transform: scale(1) !important;
    }

    * {
        outline: 0 !important;
        border: 0 !important;
        resize: none !important;
        overflow: hidden !important;
    }
}
