#cv-main {
    display: flex;
    flex-direction: column;
}

.section-row {
    width: 100%;
    height: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 198, 122);
    text-align: center;
}

.section-col {
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 3px;
}

.grid-visible {
    border: 1px solid black;
    border-bottom: none;
}

.active-cell {
    -webkit-box-shadow: inset 0px 0px 0px 3px rgb(55, 0, 255);
    -moz-box-shadow: inset 0px 0px 0px 3px rgb(55, 0, 255);
    box-shadow: inset 0px 0px 0px 3px rgb(55, 0, 255);
    padding: 3px;
}
